@using MvcCVReal.Models.Entity
@model TblCertification
@{
    ViewData["Title"] = "SertifikaGüncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sertifika Güncelle</h1>
<br />
<form method="POST" asp-action="SertifikaGüncelle" asp-controller="Admin">
    <input type="text" class="form-control" placeholder="ID" asp-for="Id">
    <span asp-validation-for="Id"></span>
    <br />
    <input type="text" class="form-control" placeholder="İlgi Alanı" asp-for="SertifikaAd">
    <span asp-validation-for="SertifikaAd"></span>
    <br />
    <button class="btn btn-info">Güncelle</button>
</form>