@using MvcCVReal.Models.Entity
@model List<TblSkill>

<div class="resume-section-content">
    <h2 class="mb-5">Yeteneklerim</h2>
    <div class="subheading mb-3">Programlama Dilleri Ve Araçlar</div>
    <ul class="list-inline dev-icons">
        <li class="list-inline-item"><i class='fab fa-java'></i>
        <li class="list-inline-item"><i class='fab fa-python'></i>
        <li class="list-inline-item"><i class="fab fa-html5"></i></li>
        <li class="list-inline-item"><i class="fab fa-css3-alt"></i></li>
        <li class="list-inline-item"><i class="fa fa-database"></i></li>
    </ul>
    <br />
    <ul class="fa-ul mb-0">
        @foreach (var sklvalues in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @sklvalues.Yetenekler
            </li>
        }
    </ul>
</div>